.three-dot {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.content-image img{
    border-radius: 20px;
}

.card-img-top{
    border-radius: 10px !important;
}